// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$montserrat: Montserrat, Nunito, sans-serif;

// Colors
$blue: #273248;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #F23B3B;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #DEEAF8;
$white: #f9f9f9;
$gray: #242424;
$blue-hover: #2f4061;